@if (backupConfig === undefined) {
  <gl-loader></gl-loader>
} @else {
  {{ backupConfig.name }}
  <div class="saves">
    @for (save of backupConfig.saves; track save) {
      <gl-card>
        <div class="card">
          <div class="left-part">
            {{
              'dashboard.backups.modal.saves.save_card.title'
                | translate
                  : {
                      dateCreated: moment(save.date_created).format(
                        'DD/MM/YYYY HH:mm'
                      )
                    }
            }}
          </div>
          <div class="right-part">
            <gl-button [round]="true" (click)="downloadBackup(save.id)">
              <i class="ph-thin ph-download-simple" style="font-size: 20px"></i>
            </gl-button>
            <gl-button [round]="true" (click)="deleteBackupSave(save)">
              <i class="ph-thin ph-trash-simple" style="font-size: 20px"></i>
            </gl-button>
          </div>
        </div>
      </gl-card>
    }
  </div>
}
