.register-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .register-block {
    width: 500px;

    form {
      display: flex;
      gap: 10px;
      flex-direction: column;

      .submit {
        text-align: right;
      }
    }
  }
}
