@if (users === undefined) {
  <gl-loader />
} @else {
  <h1>{{ 'dashboard.users.title' | translate }}</h1>
  <div style="margin: 10px 0">
    <gl-button (click)="add()"
      ><i class="ph ph-plus"></i>
      {{ 'dashboard.users.actions.add' | translate }}</gl-button
    >
  </div>
  <gl-table>
    <thead>
      <tr>
        <th>{{ 'dashboard.users.table.username' | translate }}</th>
        <th>{{ 'dashboard.users.table.date_created' | translate }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user) {
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.date_created | date: 'dd/mm/YYYY' }}</td>
          <td class="actions">
            <gl-button [round]="true" (click)="edit(user)">
              <i class="ph-thin ph-gear-six" style="font-size: 20px"></i>
            </gl-button>
          </td>
        </tr>
      }</tbody
  ></gl-table>
}
