<form [formGroup]="endpointForm" (submit)="submit()" class="form">

  <div class="type-select">
    <gl-select formControlName="type" label="Type" [options]="selectTypeOptions"/>
  </div>

<ng-template [ngIf]="type.value !== null">
  <gl-card>
    {{'description' | backupTranslate:selectedType}}
  </gl-card>

  <ng-template ngFor let-parameter [ngForOf]="selectedType.source.parameters">
    <div class="input">
      <ng-template [ngIf]="parameter.type === 'string'">
        <gl-input [label]="'parameters.source.'+parameter.code+'.name'|backupTranslate:selectedType" [formControl]="getParameterControl(parameter.code)" [showErrors]="true"/>
      </ng-template>
      <ng-template [ngIf]="parameter.type === 'number'">
        <gl-input [label]="'parameters.source.'+parameter.code+'.name'|backupTranslate:selectedType" [formControl]="getParameterControl(parameter.code)"  [showErrors]="true"/>
      </ng-template>
      <ng-template [ngIf]="parameter.type === 'boolean'">
        <gl-checkbox [label]="'parameters.source.'+parameter.code+'.name'|backupTranslate:selectedType" [formControl]="getParameterControl(parameter.code)"  [showErrors]="true"/>
      </ng-template>
      <div class="input-description">
        {{'parameters.source.'+parameter.code+'.description'|backupTranslate:selectedType}}
      </div>
    </div>
  </ng-template>

  <gl-button>
    <ng-template [ngIf]="validating">
      {{"dashboard.backups-settings.modal.endpoint.submit.validating"|translate}}
    </ng-template>
    <ng-template [ngIf]="!validating">
      <ng-template [ngIf]="this.modalConfig.data.source" [ngIfElse]="addlibelle">
        {{"dashboard.backups-settings.modal.endpoint.submit.edit"|translate}}
      </ng-template>
      <ng-template #addlibelle >
        {{"dashboard.backups-settings.modal.endpoint.submit.add"|translate}}
      </ng-template>
    </ng-template>
  </gl-button>
</ng-template>

</form>
